<h1>会員一覧</h1>

<table border="1", class="user-index-table">
  <thead>
    <tr>
       <th>ユーザー名</th>
       <th>メールアドレス</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <tbody>
      <tr>
         <td> <%= user.name %></td>
         <td> <%= user.email %></td>
         <td class="user-index-detail"> <%= link_to "ユーザー詳細", admin_user_path(user), class:"btn btn-primary" %>
         </td>
      </tr>
    </tbody>
  <% end %>
</table>


<%= paginate @users %>